<mat-card class="custom-card">
    <mat-card-header>
      <mat-card-title>New Users Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="user-list" *ngFor="let user of userDetails">
        <div class="user" >
          <div class="user-avatar">
            <mat-icon>{{user.picture}}</mat-icon>
            <div class="active-status" [ngClass]="user.isActive ? 'active' : 'inactive'"></div>
          </div>
          <div class="user-details">
            <div class="name">{{user.name}}</div>
            <div class="country">{{user.country}}</div>
          </div>
          <div class="user-progress">
            <mat-progress-bar mode="determinate" [value]="user.progress">
                <ng-container *matProgressContent>
                    {{ user.progress }}%
                  </ng-container>
            </mat-progress-bar>
          </div>
          <div >
            <button class="card-button">more</button>
          </div>
          
        </div>
      </div>
    </mat-card-content>
  </mat-card>
